body {
        margin: 0p;
        padding: 0px;
        background: url('desktop-wallpaper-fitness-and-background-gym-black.jpg');
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .left {

        display: inline-block;
        position: absolute;
        left: 15px;
        top: 2px;
    }

    .left img {
        width: 110px;
        margin: 0px 6px;
    }

    .left div {
        color: wheat;
        font: bold;
        text-decoration: solid;
        line-height: 0px;
        font-size: 24px;
    }

    .right {

        display: inline-block;
        position: absolute;
        right: 30px;
        top: 25px;
    }

    .mid {
        display: block;
        width: 33%;
        margin: 15px auto;

    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline;
        color: wheat;
        font-size: 15px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: grey;
    }

    .btn {
        background-color: black;
        color: white;
        border: 2px solid grey;
        cursor: pointer;
        border-radius: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .btn:hover {
        background-color: rgb(104, 100, 100);
    }

    .container {
        border: 2px solid white;
        margin: 111px 55px;
        padding: 52px;
        border-radius: 27px;
        width: 410px;
    }

    .form-group input {
        border: 2px solid blacks;
         text-align: center;
         font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
        width: 402px;
        padding: 4px;
        border-radius: 10px;
        font-size: 15px;
        margin: 5px auto;
        position: relative;
        top: -18px;
    }
    h1{
        position: relative;
        top: -25px;
        text-align: center;
    }
    .form-group button{
        display: block;
        width:100%;
        margin: auto;
    }